* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #707070;
}
body {
    width: 100%;
}
.landing-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    background-color: #FCFFE6;
    align-items: center;
    justify-content: space-around;
}
.landing-image {
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
.landing-text {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
.line {
    border-top: 1px solid #DBDBDB
}
#landing-line {
    width: 20vw;
}
#notes-landing {
    font-size: 60px;
}
#description-landing {
    margin: 20px 0px;
    max-width: 600px;
    font-weight: 500;
    font-size: 16px;
}
#view-notes {
    background-color: #707070;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
}
#view-notes:hover, #view-notes:focus {
    border: none;
    outline: none;
    background-color: #FFFF77;
}

/* style notes page */
.notes-container {
    display: flex;
    justify-content: center;
}
.banner {
    background-color: #FFFFC1;
    color: #707070;
    text-align: center;
}
/* note cards */
.note-card {
    border-bottom: 1px solid #DBDBDB;
    padding: 20px 10px;
}
.card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    font-weight: 700;
}
.delete {
    background-color: transparent;
}
/* form */
.form-col {
    background-color: #FCFFE6;
}
input {
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    max-width: 400px;
    min-width: 300px;
    margin: 16px 0;
}
#form-description {
    height: 300px;
}
#buttons-container {
    display: flex;
    justify-content: space-between;
}
#cancel, #save {
    width: 45%;
    height: 60px;
    text-align: center;
    font-weight: 700;
}
